@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato:wght@100;400;700&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@100&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto Condensed', 'Lato', sans-serif !important;
  color: white;
  background-color: #0f0d15;
  background-image: linear-gradient(-180deg, #1a1527, #0e0c16 88%, #0e0c16 99%)
}